body, h1, h2, p, input, select, textarea, button {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color:#e0c40e;
}
  body {
    background-image: url('images/flag.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 20px;
  }
  header {
    color: #e0c40e;
    text-align: center;
    padding: 20px;
  }
  a {
    text-decoration: none;
    color: #e0c40e;
  }
  h1, h2 {
    text-align: center;
    color: #e0d90b;
  }
  .story-container {
    overflow: auto;
  }
  .story {
    float: right;
    width: 50%;
    padding-left: 15%;
  }
  img {
    float: left;
    width: 75%;
  }
  h2 {
    font-size: 24px;
    margin-bottom: 5px;
  }
  p {
    font-size: 30px;
    line-height: 1;
    color: #e0c40e;
  }
  .support-table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    padding-top: 100px;
  }
  .support-table th,
  .support-table td {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding: 8px;
  }
  .contact-box {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  .contact-box h2 {
    text-align: center;
    color: #333;
  }
  .contact-box form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .contact-box label {
    font-weight: bold;
  }
  .contact-box input,
  .contact-box textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  .contact-box button {
    grid-column: 1 / span 2;
    background-color: #007BFF;
    color: #e0c40e;
    border: none;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
  }
  nav ul {
    list-style: none;
    padding: 0;
  }
  nav ul li {
    display: inline;
    margin: 0 20px;
  }
  nav ul li a {
    text-decoration: none;
    color: #e0c40e;
    font-size: 45px;
  }
  .larger-text {
    font-size: 15px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  .contact-form {
    flex: 1;
  }
  .contact-form h1 {
    margin-bottom: 20px;
  }
  .form-group {
    margin-bottom: 15px;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
  input[type="text"],
  input[type="email"],
  select,
  textarea {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
  }
  button:hover {
    background-color: #2980b9;
  }
  .contact-info {
    flex: 1;
    padding-left: 20px;
  }
  .donations {
    margin-top: 30px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  .donations h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .donations p {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .donations button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
  }
  .donations button:hover {
    background-color: #2980b9;
  }
  footer {
    color: #e0c40e;
    text-align: center;
    padding: 10px;
  }
  @media screen and (max-width: 768px) {
    body {
      padding: 10px; 
    }
  
    .story {
      float: none; 
      width: 100%; 
      padding-left: 0; 
    }
  
    img {
      float: none; 
      width: 100%; 
    }
    h2 {
      font-size: 20px;
    }
    p {
      font-size: 20px;
    }
    .support-table th,
    .support-table td {
      font-size: 25px;
    }
    .contact-box {
      max-width: 100%; 
    }
    label,
    input[type="text"],
    input[type="email"],
    select,
    textarea,
    button {
      font-size: 16px;
    }
    input[type="text"],
    input[type="email"],
    textarea {
      padding: 10px;
    }
    button {
      font-size: 14px;
    }
  
}