body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    display: grid;
    grid-template-columns: 15% 1fr;
    grid-template-rows: 75px 1fr 50px;
    grid-template-areas:
        "hdr hdr"
        "aside main"
        "ftr ftr";
}

header {
    color: white;
    background-color: rgb(33, 87, 51);
    grid-area: hdr;
}

footer {
    color: white;
    background-color: rgb(53, 112, 72);
    grid-area: ftr;
}

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

header div, footer div {
    margin: 0 20px;
}

aside {
    background-color: rgb(75, 133, 94);
    grid-area: aside;
}

main {
    grid-area: main;
}

h1 {
    color: rgb(33, 87, 51);
}

p {
    line-height: 24px;
}

.restName {
    background-color: rgb(33, 87, 51);
    color: white;
    font-style: italic;
    padding: 5px;
    border-radius: 3px;
}
